extends layout.pug

append head

  //- add page specific js
  script(src="/javascripts/postDelete.js" type="module" defer)


block content
  div.profile-block
    p(style="display:none" id='hiddenId') #{post.id}
    div.inner-block
    article
      h1 #{post.name}
      p.left-align Make: #{post.make}
      p.left-align Model: #{post.model}
      p.right-align Year: #{post.year}
      p.right-align Color: #{post.color}
      p.right-align Accidents: #{post.accidents}
      p.right-align Description: #{post.description}
    div.inner-block-right
      img(src='../images/jeepWrangler.jpeg' height='50px' width='70px' class='carImage')
      ul Comments
        each comment in comments
          li #{comment.message}


    div
      button.edit-btn EDIT

    div
      button.delete-btn DELETE
