extends layout.pug

append head

  //- add page specific js
  script(src="/javascripts/postDelete.js" type="module" defer)


block content
  div.profile-block
    p(style="display:none" id='hiddenId') #{post.id}
    p(style="display:none" id='hiddenUserId') #{post.ownerId}
    div.upper-block
      div.img_container
        img(src='../images/jeepWrangler.jpeg' height='50px' width='70px' class='carImage')

      //- h1 #{post.name}
      div.make_mod_yr
        form(id="myForm" class='hidden')
          //- input(type='hidden' name='_csrf' value=csrfToken)
          input(type="text" class='left-align' value=post.make name=make)
          input(type="text" class='left-align' value=post.model name=model)
          input(class='left-align' value=post.year name=year)

    div.lower-block
      div.owner
      div.description
        //- p.right-align #{post.description}
        input(type="textarea" class='desc_box' value=post.description name=description)
      div.accidents
        p.right-align This car has been in!{' '}
          input(class='number' value=post.accidents name=accidents)
          span !{' '}accidents!
      div.comment_box
        ul.comment_label Comments:
          each comment in comments
            li.comments  #{comment.message}


    div.buttons
      button(form="myForm" type='submit' class='edit-btn') EDIT
      button.delete-btn DELETE
