extends layout.pug

append head

  //- add page specific js
  //- script(src="/javascripts/postDelete.js" type="module" defer)
  script(src='/javascripts/edit-post.js' type="module" defer)


block content
  div.profile-block
    div(style="display:none" id='hiddenId') #{post.id}
    div(style="display:none" id='hiddenUserId') #{post.ownerId}
    div.upper-block
      div.img_container
        each image in post.Images
          img(src=image.path class='carImage')
          div(style="display:none" id='hiddenImg') #{image.path}

      //- h1 #{post.name}
      div.make_mod_yr
          p(class='left-alignPre' id="makeEd") #{post.make}
          p(class='left-alignPre' id="modelEd") #{post.model}
          p(class='left-alignPre' id="yearEd") #{post.year}

    div.lower-block
      div.owner
      div.description
        //- p.right-align #{post.description}
        p(class='desc_box' id="descr") #{post.description}
      div.accidents
        p.right-align This car has been in!{' '}
          span(id='number') #{post.accidents}
          span !{' '}accidents!
      div.comment_box
        ul.comment_label Comments:
          each comment in comments
            li.comments  #{comment.message}


    div.buttons
      button.edit-btnX EDIT
    div(style="display:none")
      button.delete-btnX DELETE
