extends layout.pug

block content 
  div.profile-wrapper  
    div.left-side
      h1 #{user.firstName} #{user.lastName}
      div.email
        //- h3 Email
        p Email: #{user.email}
      div.state
        //- h3 State
        p State: #{user.state}
    div.right-side
      div.bio
        h3 Bio
        p #{user.bio}
      div.member
        h3 Member Since
        p #{user.createdAt}
      div.posts-wrapper
        h2 Your Posts 
          each post in posts 
            div.post-block
              each image in post.Images
                a(href="/posts/" + post.id)
                  img(class='car_img_user_icon' src=image.path)
            
      
      